<footer class="footer mt-5">
    <div class="container text-center py-3">
        <p>© 2024 Task Inc. All Rights Reserved.</p>
        <p >
            <a href="/privacy" style="color: #D0D7DD">Privacy Policy</a>
            <a href="/terms" style="color: #D0D7DD">Terms of Service</a>
        </p>
    </div>
</footer>